<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/Cảm hứng logo - Chữ S 1.jpg"  alt="Deep" />
  </div>
  <mat-divider></mat-divider>
  <h2 mat-subheader class="mt-2">App</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>home
  </a>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>dashboard
  </a>
  <a mat-list-item> <mat-icon>edit</mat-icon>link3 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon>link4 </a>
  <a mat-list-item> <mat-icon>edit</mat-icon>link5 </a>
</mat-nav-list>
